003. Web API/bin/Debug/
003. Web API/obj/Debug/
004. Web App to Azure/AlpineSkiHouse/.vs
004. Web App to Azure/AlpineSkiHouse/AlpineSkiHouse/bin
004. Web App to Azure/AlpineSkiHouse/AlpineSkiHouse/obj
004. Web App to Azure/AlpineSkiHouse/AlpineSkiHouse/Properties
005. Dependencies/obj
005. Dependencies/bin
006. Interact/obj
006. Interact/bin
008. Blazor/.vscode
008. Blazor/BlazorApp/bin
008. Blazor/BlazorApp/obj
008. Blazor/BlazorApp/Properties
010. Reusable Blazor/ClassLibrary/.vs
010. Reusable Blazor/ClassLibrary/ClassLibrary/bin
010. Reusable Blazor/ClassLibrary/ClassLibrary/obj
010. Reusable Blazor/BlazorApp/bin
010. Reusable Blazor/BlazorApp/obj
010. Reusable Blazor/BlazorApp/.vs
010. Reusable Blazor/.vs
011. Connect Four/ConnectFour/.vs
011. Connect Four/ConnectFour/ConnectFour/bin
011. Connect Four/ConnectFour/ConnectFour/obj
012. Externalize Config/eShopModernizing/Docs
012. Externalize Config/eShopModernizing/eShopLegacyWebFormsSolution/src/eShopLegacyWebForms/Properties
013. Session Scalability/eShopModernizing/Docs
013. Session Scalability/eShopModernizing/eShopLegacyWebFormsSolution/src/eShopLegacyWebForms/Properties
014. Minimal API/bin
014. Minimal API/obj
015. EF and DB/obj