@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Modal title="Modal dialog" 
CancelText="Cancel" 
ConfirmText="Confirm"
Show="true">
    <p>
        This is my modal dialog
    </p>
</Modal>